/* Global */

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    color: #ffffff;
    background-color: #141414;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Header */

.top-container {
    height: 100vh;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("./images/header-background.jpg");
}

#myHeader {
    text-align: center;
    width: 100%;
    height: 100%;
}


/* Sidenav*/

hr {
    background-color: #F5F5F5;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.sidenav-name:hover+.hide {
    display: block;
    font-size: 1rem;
    color: #adb2ba;
    margin-left: 10px;
    margin-top: -20px;
}

.sidenav {
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1D1D1F;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-text {
    color: #f5f5f7;
    font-size: 2rem;
}

.sidenav-img {
    height: 36px;
    width: 36px;
    object-fit: cover;
}

.sidenav-img-rounded {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.sidenav-name {
    font-size: 1.1rem;
    color: #f5f5f7;
    margin-left: 10px;
    margin-top: 3px;
}

.sidenav-name:hover {
    color: #FF8589;
    margin-top: -6px;
}

.sidenav-info:hover {
    text-decoration: none;
}


/* Timeline */

#app {
    padding: 0 20px;
    width: 100%;
}

.timeline {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #055282;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: #1D1D1F;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #1D1D1F;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #F5F5F5;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}


/* Scroll */

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

 ::-webkit-scrollbar-track-piece {
    background-color: #111;
}

 ::-webkit-scrollbar-thumb:vertical {
    height: 200px;
    background-color: black;
}


/* Responsive */